// COLORS
$primary-color-blue: rgba(8, 171, 231, 0.671);
$primary-color-green: rgba(40, 244, 153, 0.612);
$color-gray-light-1: #f7f7f7;
$color-black: #000;
$color-gray-dark: #333;
$color-white: #fff;

$selector-color: rgba(46, 194, 248, 0.671);

$bg-color-nav-blue: #08abe7;
$bg-color-nav-green: #28f499;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark:#5643fa;

$color-quaternary-light: #40c56c;
$color-quaternary-dark: #14a776;

$text-color-gray: #777;
$text-color-gray-dark: #464242;
$text-color-white: #fff;

// FONTS
$default-font-size: 1.6rem;