@keyframes shaking {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-1rem);
      
    }
    20%,
    40%,
    60% {
      transform: translateX(1rem);
    }
    80% {
      transform: translateX(.8rem);
    }
    90% {
      transform: translateX(-.8rem);
    }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(10rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes textSub{
  0%{ opacity: 0;}
  100% { opacity: 1;}
}

@keyframes focus {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}